*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main img{
    height: 550px;
    width: 400px;
    position: relative;
    z-index: 99;
    object-fit: cover;
}
#scroll-div{
    position: absolute;
    top: 20%;
    width: 100%;
    /* height: 100px; */
    /* white-space: nowrap;//all children at same line */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
#scroll-div::-webkit-scrollbar{
    display: none;
}
#scroll-div h1{
    display: inline-block;
    font-size: 160px;
    text-transform: uppercase;
    font-family: monument;
    margin-right: 30px;
    letter-spacing: 3px;
    animation-name: animate; 
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#scroll-div2{
    position: absolute;
    top: 40%;
    width: 100%;
    /* height: 100px; */
    /* white-space: nowrap;//all children at same line */
    white-space: nowrap;
    z-index: 100;
    overflow-x: auto;
    overflow-y: hidden;
}
#scroll-div2::-webkit-scrollbar{
    display: none;
}
#scroll-div2 h1{
    display: inline-block;
    font-size: 140px;
    font-family: 'Kanit', sans-serif;
    margin-right: 20px;
    letter-spacing: 5px;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    animation-name: animate; 
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#scroll-div3{
    position: absolute;
    top: 60%;
    width: 100%;
    /* height: 100px; */
    /* white-space: nowrap;//all children at same line */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
#scroll-div3::-webkit-scrollbar{
    display: none;
}
#scroll-div3 h1{
    display: inline-block;
    font-size: 140px;
    font-family: monument;
    margin-right: 20px;
    letter-spacing: 5px;
    animation-name: animate; 
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}
#text{
    position: absolute;
    font-size: 35px;
    font-family: 'Kanit', sans-serif;
    width: 60%;
    text-align: center;
    /* background-color: red; */
    z-index: 999;
    top: 12%;
    text-transform: capitalize;
}

@keyframes animate{
    0%{
        transform: translateX(calc(-100% - 32px));
    }
    100%{
        transform: translateX(0);
    }
    
}